{% load static %}
{% load bootstrap_icons %}
<!DOCTYPE html>
<html>
<head>
  <title>CV Георги Кунчев</title>
  <link rel="icon" href="{% static 'img/favicon.png' %}">
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  <link rel="stylesheet" href="{% static 'css/general.css' %}">
</head>
<body>
    <div id="avatar_wrapper" class="text-center m-2">
        <img id="avatar" class="border border-dark rounded-circle shadow" src="{% static 'img/avatar.png' %}">
    </div>
    <h2 id="name" class="text-center">
        Георги Викторов Кунчев
    </h2>
    <h6 id="contacts" class="text-center">
        <span id="contacts_email">
            {% bs_icon 'envelope-at' %}
            <a class="text-decoration-none text-dark" href="mailto:gvkunchev@gmail.com">gvkunchev@gmail.com</a>
        </span>
        |
        <span id="contacts_phone">
            {% bs_icon 'telephone' %}
            +359883422284
        </span>
        <br/>
        <span id="contacts_github">
            {% bs_icon 'github' %}
            <a class="text-decoration-none text-dark" href="https://github.com/gvkunchev" target="_blank">gvkunchev@github</a>
        </span>
    </h6>
</body>
</html>
