{% load static %}
{% load bootstrap_icons %}
<!DOCTYPE html>
<html>
<head>
  <title>CV Георги Кунчев</title>
  <link rel="icon" href="{% static 'img/favicon.png' %}">
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="{% static 'js/general.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/general.css' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body class="p-1 bg-light">
    <div id="avatar_wrapper" class="text-center m-2">
        <img id="avatar" class="border border-dark rounded-circle shadow" src="{% static 'img/avatar.png' %}">
    </div>
    <h2 id="name" class="text-center">
        Георги Викторов Кунчев
    </h2>
    <h6 id="contacts" class="text-center">
        <span id="contacts_email">
            {% bs_icon 'envelope-at' %}
            <a class="text-decoration-none text-dark" href="mailto:gvkunchev@gmail.com">gvkunchev@gmail.com</a>
        </span>
        |
        <span id="contacts_phone">
            {% bs_icon 'telephone' %}
            +359883422284
        </span>
        <br/><br/>
        <span id="contacts_github">
            {% bs_icon 'github' %}
            <a class="text-decoration-none text-dark" href="https://github.com/gvkunchev" target="_blank">gvkunchev@github</a>
        </span>
    </h6>
    <div id="summary" class="text-center my-4 mx-auto">
        <h5>Python Developer с почти 15 години професилнален опит.</h5>
        <div>
            <ul class="text-start">
                <li>Няколко самостоятелни Django проекта, най-големият от които е <a href="https://github.com/gvkunchev/shrubbery" target="_blank">сайтът за курс по Python във ФМИ</a></li>
                <li>Няколко самостоятелни малки Flask проекта.</li>
                <li>Опит с Django REST в контекста на семпло приложение.</li>
                <li>Основни умения за конфигурация на Apache, Nginx, Gunicorn и комуникацията им с Django през WSGI.</li>
                <li>Множество десктоп приложения с TKinter и няколко с PySide.</li>
                <li>Асинхронни задачи със Celery.</li>
                <li>Опит с PostgreSQL и SQLite, главно през ORM, но не само.</li>
                <li>Доста JavaScript (vanilla и jQuery) без да твърдя, че е идиоматичен. Ajax.</li>
                <li>Linux shell scripting. PowerShell с помощ от Google.</li>
                <li>Комфортна работа както в Linux, така и в Windows.</li>
                <li>Обектно ориентирано програмиране, но не на всяка цена. Всяка парадигма да си знае гьола!</li>
                <li>Time complexity мониторинг и оптимизация на алгоритми.</li>
                <li>GitHub и бегъл опит със SVN и ClearCase.</li>
                <li>PEP8, Pylint, Flake8, UnitTest, Coverage, Pyreverse, Swagger, UML са важни и трябва да се използват.</li>
                <li>CI/CD чрез BitBucket + Jenkins, както и GitHub + GitHubActions. Docker и малко Kubernetes.</li>
                <li>Wheel, PyPi, Artifactory, RPM и други методи за дистрибуция на пакети.</li>
                <li>IoT, роботика и микроконтролери като хоби.</li>
                <li>Monty Python фен.</li>
                <li>1700 ЕЛО на блиц и ~20 разновидности на кубчето на Рубик.</li>
            </ul>
        </div>
    </div>

    <div class="dropdown text-center m-2">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="category_selection" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span id="current_category">Всички категории</span>
        </button>
        <div class="dropdown-menu" aria-labelledby="category_selection">
            <a class="dropdown-item filter-trigger" href="#" onclick="return false" data-category="all">Всички категории</a>
            <a class="dropdown-item filter-trigger" href="#" onclick="return false" data-category="personal">Лични</a>
            <a class="dropdown-item filter-trigger" href="#" onclick="return false" data-category="professional">Професионални</a>
            <a class="dropdown-item filter-trigger" href="#" onclick="return false" data-category="education">Обазование</a>
        </div>
    </div>

    <div id="timeline_wrapper" class="border border-dark mx-auto rounded shadow position-relative">
        <div id="timeline" class="position-absolute bg-primary rounded"></div>
        <div id="timeline_content p-1">
            {% for item in content %}
                <div class="timeline-item w-100 my-3" data-category="{{ item.category }}">
                    <div class="timeline-item-left align-middle text-center p-1">
                        <div class="timeline-item-left-content position-relative py-1 px-3 rounded shadow border border-dark">
                            <span class="category-icon position-absolute top-0 start-0">
                                {% if item.category == 'personal' %}
                                    {% bs_icon 'person' %}
                                {% endif %}
                                {% if item.category == 'education' %}
                                    {% bs_icon 'mortarboard' %}
                                {% endif %}
                                {% if item.category == 'professional' %}
                                    {% bs_icon 'laptop' %}
                                {% endif %}
                            </span>
                            {{ item.what|safe }}
                        </div>
                    </div>
                    <div class="timeline-item-date align-middle text-center">
                        <div class="timeline-item-date-content position-relative border border-dark rounded-circle text-center shadow bg-light mx-auto">
                            <span class="d-table h-100 w-100">
                                <span class="timeline-item-date-text d-table-cell w-100 align-middle">
                                    {{ item.when|safe }}
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="timeline-item-right align-middle text-center p-1">
                        <div class="timeline-item-left-content position-relative p-1 rounded shadow border border-dark">
                            {% if item.link %}
                                <a href="{{ item.link }}" target="blank_" class="text-decoration-none text-dark">
                                    {{ item.where|safe }}
                                </a>
                            {% else %}
                                {{ item.where|safe }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div id="footer" class="mt-3 text-center text-secondary small">
        ∞
    </div>
</body>
</html>
