{% load i18n %}
{% load static %}
{% load bootstrap_icons %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html>
<head>
    <title>{% translate "CV Georgi Kunchev" %}</title>
    <link rel="icon" href="{% static 'img/favicon.png' %}">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'js/general.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/general.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
    
    <meta property="og:title" content="CV Георги Кунчев"/>
    <meta property="og:image" content="{% static 'img/avatar.png' %}"/>
    <meta property="og:url" content="https://kunchev.org"/>
    <meta property="og:image:width" content="224" />
    <meta property="og:image:height" content="224" />
</head>
<body class="p-1">
    <div id="lang_selection" class="inner-width-limit text-end mx-auto small">
        {% bs_icon 'translate' %}
        {% if LANGUAGE_CODE == 'bg' %}
            <a href="en" class="text-decoration-none text-dark">English</a>
        {% else %}
            <a href="bg" class="text-decoration-none text-dark">Български</a>
        {% endif %}
    </div>
    <div id="avatar_wrapper" class="text-center m-2">
        <a href="{% static 'img/avatar.png' %}" target="_blank">
            <img id="avatar" class="border border-dark rounded-circle shadow" src="{% static 'img/avatar.png' %}">
        </a>
    </div>
    <h2 id="name" class="text-center">
        {% translate "Georgi Viktorov Kunchev" %}
    </h2>
    <h6 id="contacts" class="text-center">
        <span id="contacts_email">
            {% bs_icon 'envelope-at' %}
            <a class="text-decoration-none text-dark" href="mailto:gvkunchev@gmail.com">gvkunchev@gmail.com</a>
        </span>
        |
        <span id="contacts_phone">
            {% bs_icon 'telephone' %}
            <a class="text-decoration-none text-dark" href="tel:+359883422284">+359883422284</a>
        </span>
        <br/><br/>
        <span id="contacts_github">
            {% bs_icon 'github' %}
            <a class="text-decoration-none text-dark" href="https://github.com/gvkunchev" target="_blank">gvkunchev@github</a>
        </span>
    </h6>
    <div id="summary" class="inner-width-limit text-center my-4 mx-auto">
        <h5>{% translate "Python Developer with almost 15 years of professional experience." %}</h5>
        <div>
            <ul class="text-start">
                {% blocktranslate %}
                <li>Several personally developed Django projects, the biggest one of which is <a class="text-dark" href="https://github.com/gvkunchev/shrubbery" target="_blank">the website for the Python course at FMI.</a></li>
                <li>Several personally developed, small Flask projects.</li>
                <li>Experience with Django REST in the context of basic application.</li>
                <li>Basic skills in configuring Apache, Nginx, Gunicorn and their communication with Django through WSGI.</li>
                <li>Variety of desktop applications using TKinter and a couple using PySide.</li>
                <li>Asynchronous tasks using Celery.</li>
                <li>Experience with PostgreSQL and SQLite.</li>
                <li>A lot of JavaScript (vanilla and jQuery) without claiming it is idiomatic. Ajax.</li>
                <li>Linux shell scripting. PowerShell with some help from Google.</li>
                <li>Comfortable in both Linux and Windows.</li>
                <li>Object oriented programming, but not at any cost. Every paradigm should know its place!</li>
                <li>Time complexity monitoring and algorithm optimization.</li>
                <li>Git and very little experience with SVN and ClearCase.</li>
                <li>PEP8, Pylint, Flake8, UnitTest, Coverage, Pyreverse, Swagger, UML are important and must be used.</li>
                <li>CI/CD using BitBucket + Jenkins, as well as GitHub + GitHub Actions. Docker and a little Kubernetes.</li>
                <li>Wheel, PyPi, Artifactory, RPM and other package distribution methods.</li>
                <li>Conducting internal trainings and technical interviews with new employees.</li>
                <li>IoT, robotics and microcontrollers as a hobby.</li>
                <li>Monty Python fan.</li>
                <li>1700 ELO in blitz and ~20 varieties of the Rubik's cube.</li>
                {% endblocktranslate %}
            </ul>
        </div>
    </div>

    <div class="dropdown text-center m-2">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="category_selection" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span id="current_category">{% translate "All categories" %}</span>
        </button>
        <div class="dropdown-menu" aria-labelledby="category_selection">
            <a class="dropdown-item filter-trigger" href="#" onclick="return false" data-category="all">{% translate "All categories" %}</a>
            <a class="dropdown-item filter-trigger" href="#" onclick="return false" data-category="personal">{% translate "Personal" %}</a>
            <a class="dropdown-item filter-trigger" href="#" onclick="return false" data-category="professional">{% translate "Professional" %}</a>
            <a class="dropdown-item filter-trigger" href="#" onclick="return false" data-category="education">{% translate "Education" %}</a>
        </div>
    </div>

    <div id="timeline_wrapper" class="inner-width-limit mx-auto rounded shadow-lg position-relative bg-light">
        <div id="timeline" class="position-absolute bg-secondary rounded"></div>
        <div id="timeline_content" class="p-2">
            {% for item in content %}
                <div class="timeline-item w-100 my-3" data-category="{{ item.category }}">
                    <div class="timeline-item-left align-middle text-center p-1">
                        <div class="timeline-item-left-content position-relative py-1 px-3 rounded shadow-lg">
                            <span class="category-icon position-absolute top-0 start-0 lh-1">
                                {% if item.category == 'personal' %}
                                    {% bs_icon 'person' %}
                                {% endif %}
                                {% if item.category == 'education' %}
                                    {% bs_icon 'mortarboard' %}
                                {% endif %}
                                {% if item.category == 'professional' %}
                                    {% bs_icon 'laptop' %}
                                {% endif %}
                            </span>
                            {{ item.what|safe }}
                        </div>
                    </div>
                    <div class="timeline-item-date align-middle text-center">
                        <div class="timeline-item-date-content position-relative rounded-circle text-center shadow-lg bg-light mx-auto">
                            <span class="d-table h-100 w-100">
                                <span class="timeline-item-date-text d-table-cell w-100 align-middle">
                                    {{ item.when|safe }}
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="timeline-item-right align-middle text-center p-1">
                        <div class="timeline-item-left-content position-relative p-1 rounded shadow-lg">
                            {% if item.link %}
                                <a href="{{ item.link }}" target="blank_" class="text-decoration-none text-dark">
                                    {{ item.where|safe }}
                                </a>
                            {% else %}
                                {{ item.where|safe }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div id="footer" class="mt-3 text-center text-secondary small">
        ∞
    </div>
</body>
</html>
