#avatar {
    width: 10em;
}

#timeline_wrapper {
    max-width: 40em;
}

#summary {
    max-width: 40em;
}

#timeline {
    width: 0.4em;
    margin-left: -0.2em; /* Half of the width */
    height: 100%;
    top: 0;
    left: 50%;
}

.timeline-item {
    display: table;
}

.timeline-item-date {
    display: table-cell;
    width: 4em;
    line-height: 1.2em;
}

.timeline-item-date-text {
    font-size: 0.8em;
}

.timeline-item-date-content {
    width: 4em;
    height: 4em;
    line-height: 1.2em;
    word-spacing: 9999999px; /* Forces each word on separate line */
}

.timeline-item-left, .timeline-item-right {
    display: table-cell;
    vertical-align: top;
    width: 43%;
}
